@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

.foto{
    height: 190px;
    width: 190px;
    border: solid 5px;
    border-radius: 90px 90px 90px 90px;
}

.icone{
    align-content: center;
}
.icone-img{
    width: 30px;
    height: 30px;
    border-radius: 90px 90px 90px 90px;
}

.icone-img:hover{
    transition: 500ms;
    width: 50px;
    height: 50px;
}


.proj-img{
   width: 300px;
}

body{
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    
}

.projeto{
    padding-top: 15%;
}

#projetos2{

    align-content: center;
}

.dropmenu a:hover{

    background-color: rgb(171, 183, 194);
    
}
.fotos-projeto div{
    display: none;
}
.hover:hover + .fotos-projeto div{
    
    display: flex;
}